:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;

  position: relative;
  height: var(--header-height);
  flex-wrap: nowrap;
}

.sb-toggler {
  position: absolute;
  top: 4rem;
  right: -0.5rem;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--surface-900);
  background: var(--primary-colour);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  transition: scale 0.2s var(--easing-default), background-color 0.2s var(--easing-default), color 0.2s var(--easing-default), transform 0.5s var(--easing-default);

  &:hover {
    scale: 1.5;
  }
}

#btn-toggle[type='checkbox'] {
  position: absolute;
  opacity: 0;
  top: 1rem;
  right: -1rem;
  z-index: 1;
  width: 0;
  height: 0;
}

.logo-icon {
  width: var(--sidebar-width-collapsed);
  height: calc(var(--icon-size) + 1rem);
  min-height: calc(var(--icon-size) + 1rem);
  min-width: var(--sidebar-width-collapsed);
}

.logo-text {
  height: calc(var(--icon-size) + 1rem);
  min-height: calc(var(--icon-size) + 1rem);
  min-width: 135.06px;
  /* padding-left: 0.75rem; */
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.25s; /* Delay to ~match sidebar expand */
}

:host-context([collapsed]) {
  .sb-toggler {
    transform: rotate(180deg);
  }

  .logo-text {
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.1s;
    transition-delay: 0s; /* No delay when sidebar collapses */
  }
}
