:host {
  /* default light theme styles */
  --sidebar: var(--fab-colour-not-white);
  --sidebar-foreground: var(--fab-colour-not-black);
  --sidebar-primary: var(--fab-colour-not-black);
  --sidebar-primary-foreground: var(--fab-colour-not-white);
  --sidebar-accent: var(--fab-colour-not-black);
  --sidebar-accent-foreground: var(--fab-colour-not-black);
  --sidebar-border: var(--border-colour);

  display: grid;
  grid-template-rows: auto 1fr auto;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--sidebar);
  color: var(--sidebar-foreground);
  border-right: 1px solid var(--sidebar-border);
  box-sizing: border-box;
  transition: var(--sidebar-transition);
  /* overflow-y: auto; */
}

/* dark theme styles - these will apply when document has 'dark' class */
:host-context(.dark) {
  --sidebar: var(--fab-colour-nearly-black);
  --sidebar-foreground: var(--fab-colour-not-white);
  --sidebar-primary: var(--fab-colour-not-black);
  --sidebar-primary-foreground: var(--fab-colour-not-white);
  --sidebar-accent: var(--fab-colour-not-black);
  --sidebar-accent-foreground: var(--fab-colour-grey-neutral);
  --sidebar-border: var(--border-colour);
}

.toggle-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: calc(var(--header-height) / 2 - 8px);
  right: 0;
  color: inherit;

  z-index: 1;
  transform: translate(50%, 0);

  transition: color 0.2s;

  background: radial-gradient(
    circle at center,
    var(--sidebar) 0%,
    var(--sidebar) 50%,
    transparent 51%,
    transparent 100%
  );
}
.toggle-button:hover {
  color: var(--colour-500);
  cursor: pointer;
}
