:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: var(--footer-height);

  padding: 0.5rem;
  margin-top: auto;
  text-align: center;
  font-size: small;
  opacity: 0.25;
}
