:host {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: var(--font-semi-condensed);
  font-weight: 500;
  color: var(--child-heading, var(--fab-colour-almost-black));
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  padding: var(--spacing-3);
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

:host-context([collapsed='true']) h3 {
  display: none;
}

:host-context([group-collapsible='true']) {
  background: var(--child-background, var(--fab-colour-nearly-white));

  h3 {
    cursor: pointer;
    user-select: none;
    text-transform: none;
    font-size: var(--font-size-md);
    letter-spacing: normal;
  }
}

:host-context(.dark) {
  --child-background: var(--fab-colour-almost-black);
  --child-heading: var(--fab-colour-almost-white);

  .expander {
    background: var(--fab-colour-not-black);
  }
}

.expander {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.5s;
  background: var(--fab-colour-not-white);
  & .expander-content {
    min-height: 0;
    transition: visibility 1s;
    visibility: hidden;
  }

  &.expanded {
    grid-template-rows: 1fr;
    & .expander-content {
      visibility: visible;
    }
  }
}
